In [2]:
import pandas as pd
import sweetviz as sv



df = pd.read_csv("SBA_Cleaned.csv")

#report = sv.analyze(df)

#report.show_html()

df.head()

,City,State,Bank,BankState,NAICS,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,MIS_Status,GrAppv,SBA_Appv
0,EVANSVILLE,IN,FIFTH THIRD BANK,OH,451120,84,4,2.0,0,0,N,0,N,Y,P I F,"$60,000.00","$48,000.00"
1,NEW PARIS,IN,1ST SOURCE BANK,IN,722410,60,2,2.0,0,0,N,0,N,Y,P I F,"$40,000.00","$32,000.00"
2,BLOOMINGTON,IN,GRANT COUNTY STATE BANK,IN,621210,180,7,1.0,0,0,N,0,N,N,P I F,"$287,000.00","$215,250.00"
3,BROKEN ARROW,OK,1ST NATL BK & TR CO OF BROKEN,OK,0,60,2,1.0,0,0,N,0,N,Y,P I F,"$35,000.00","$28,000.00"
4,ORLANDO,FL,FLORIDA BUS. DEVEL CORP,FL,0,240,14,1.0,7,7,N,0,N,N,P I F,"$229,000.00","$229,000.00"

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

X = df.drop("MIS_Status", axis=1)
y = df["MIS_Status"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


categ_col = list(X.select_dtypes(include=['object', 'category']).columns)

num_col = list(X.select_dtypes(include=['float64', 'int64']).columns)

In [4]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder

categorical_transformer = OneHotEncoder()
label_transformer = LabelEncoder()
numerical_transformer = StandardScaler()

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categ_col),
        ('num', numerical_transformer, num_col)
    ])

pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                            ('classifier', RandomForestClassifier(n_estimators=5))])

In [5]:
pipeline.fit(X_train, y_train)

print(pipeline.score(X_train),
pipeline.score(X_test))

InvalidParameterError: The 'y_true' parameter of accuracy_score must be an array-like or a sparse matrix. Got None instead.